div#header-inner {
  max-width: calc(90em - 16px);
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px;
}

header {
  background-color: $secondary;
  border-bottom: 4px solid darken($main, 30%);

  h1 {
    font-family: $fn-cont;
  }

  img {
    height: 1.22em;
    border-radius: 8px;
    float: left;
    margin-right: 8px;
  }

  nav {
    a, span#nav-divider {
      margin-right: 12px;
    }

    a {
      text-decoration: none;
      color: $main;
      font-size: 1.05em;
      border-bottom: 0 solid darken($main, 30%);



      &:not(:last-of-type) {
      }

      i {
        color: lighten($main, 30%);
        font-size: 0.9em;
      }
    }

    a:hover,
    a.c {
      font-weight: bold;
    }

    a.social {
      i {
        font-size: 1.05em;
        color: $main;
      }

      &:hover {
        font-weight: normal;

        i {
          color: lighten($main, 30%);
        }
      }
    }
  }
}
