body {
  background-color: #111;
  color: #eee;
  padding: 0;
  margin: 0;
  font-family: $fn-cont;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $fn-head;
}

article {
  max-width: 50em;
  margin: 0 auto;
  padding: 8px;

  section#page-meta {
    margin-top: 8px;
    margin-bottom: 16px;

    h1,
    h2,
    h3,
    h4 {
      margin: 0;
      padding: 0;
    }

    h4#page-date {
      font-style: italic;
      font-weight: normal;
      opacity: 0.5;
    }
  }

  p {
    line-height: 1.5em;
  }

  a {
    color: $main;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    list-style: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAANlBMVEUAAAAPXWMPXWMPXWMPXWMPXWMPXWMPXWMPXWMPXWMPXWMPXWMPXWMPXWMPXWMPXWMPXWMPXWNj72aXAAAAEXRSTlMAAgMEBwpPcXuDjMPF0dPV/f8KXjEAAAA7SURBVBhXtci3AQAgDANBkXPw/sviDkxHgSrdAzylIWbqsCIUIlkyfSpucvHbtrHz4f5mjMuIl4GQ9l8ZqQQPxc3QUgAAAABJRU5ErkJggg==');
    list-style-position: outside;

    h3 {
      margin-bottom: 4px;
    }

    p:first-of-type {
      margin-top: 0px;
    }
  }

  code, pre {
    font-family: $fn-mono;
  }

  code {
    font-size: 1.1em;
    color: lighten($main, 40%);
  }

  hr {
    border: none;
    padding: 1px;
    background-color: darken($main, 30%);
    border-radius: 2px;
  }
}
