@media screen and (max-width: 1280px) {
  div#header-inner {
    display: block;
  }

  header {
    text-align: center;

    h1 {
      width: 100%;
    }

    nav {
      a {
        display: block;
        width: 100%;
        margin: 0;
        padding: 4px 0;
      }

      a.social {
        font-size: 1.5em;
        width: auto;
      }

      span#nav-divider {
        display: none;
      }
    }
  }
}
