footer.site-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 4px 0 2px 0;
  margin: 0;
  width: 100%;
  background-color: #000;
  border-top: 1px solid #2cd3df;
  text-align: center;
  opacity: 0.5;
  transition: opacity 0.3s ease;
  cursor: normal;
}

footer.site-footer:hover {
  opacity: 1;
}

footer.site-footer div.container {
  padding: 0;
}
