body {
  max-width: 15em;
  margin: 0 auto;
  background-color: #222266;
  color: #aaa;
  font-family: 'Rubik', sans-serif;
}

header {
  padding: 4px;
  margin-top: 16px;
  text-align: center;
}

header img {
  border-radius: 50%;
  height: 6em;
}

h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 0;
}

main {
  padding: 4px;
  min-height: 50vh;
}

ul#social {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

ul#social li {
  margin-top: 8px;
}

ul#social li a {
  text-decoration: none;
  color: #ccc;
  border-bottom: 2px solid #eeeeee11;
  padding: 2px;
}

ul#social li a:hover {
  background-color: #eee;
  color: #222266;
}

ul#social li a:hover>i {
  opacity: 1;
  color: #fff;
}

ul#social li i {
  float: right;
  opacity: 0.5;
}

@media screen and (max-width: 720px) {
  body {
    font-size: 1.2em;
  }
}
